# Localhost default profile
RPC_URL=http://127.0.0.1:8545
DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=
PROXY_ADMIN_ADDRESS=
PROXY_ADDRESS=
MODULE=
UPGRADE_CALLDATA=

ADMIN_ADDRESS=
UPGRADE_ADMIN_ADDRESS=
FUND_A_HOLDER=
LIQUIDITY_RECIPIENT=
STRATEGIC_RESERVE_RECIPIENT=
FUTURE_INVESTORS_RECIPIENT=
FOUNDER_RECIPIENT=
DEVELOPERS_RECIPIENT=
ECOSYSTEM_RECIPIENT=
LIQUIDATION_OPERATOR=

ETH_USD_FEED=
ENABLE_WBTC_COLLATERAL=false
WBTC_COLLATERAL_ASSET=
WBTC_USD_FEED=
WBTC_ASSET_DECIMALS=8
ENABLE_WSTETH_COLLATERAL=false
WSTETH_COLLATERAL_ASSET=
WSTETH_USD_FEED=
WSTETH_ASSET_DECIMALS=18
MAX_PRICE_AGE=3600
INITIAL_MANUAL_ICFT_PRICE=100000000
INITIAL_MANUAL_ICFT_PRICE_DECIMALS=8

FUND_A_ALLOCATION=200000000000000000000000000
LIQUIDITY_BUFFER=1000000000000000000000

MAX_LTV_BPS=8000
LIQUIDATION_THRESHOLD_BPS=9000
TARGET_LTV_BPS=8500
LIQUIDATION_BONUS_BPS=500

KINK1_BPS=5000
KINK2_BPS=8000
KINK3_BPS=9000
RATE1_BPS=500
RATE2_BPS=800
RATE3_BPS=1500
RATE4_BPS=2000
MAX_BORROW_UTILIZATION_BPS=9000

# Sepolia reference values:
# RPC_URL=https://eth-sepolia.g.alchemy.com/v2/<api-key>
# ETH_USD_FEED=0x694AA1769357215DE4FAC081bf1f309aDC325306
# ENABLE_WBTC_COLLATERAL=true
# WBTC_COLLATERAL_ASSET=<sepolia-wbtc-address>
# WBTC_USD_FEED=<chainlink-btc-usd-feed-for-target-network>
# ENABLE_WSTETH_COLLATERAL=true
# WSTETH_COLLATERAL_ASSET=<sepolia-wsteth-address>
# WSTETH_USD_FEED=<chainlink-wsteth-usd-feed-for-target-network>
